body {
    background: url("assets/site/mapblue.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#mainTable {
    float: left;
}

img {
    width: 70px;
}

#infoAside {
    position: relative;
    float: left;
    height: 800px;
    width: 350px;
    background: grey;
}

#infoAside img {
    width: 96%;
    margin: 8px;
}

#infoAside h3 {
    position: relative;
    text-align: center;
    font-family: 'MedievalSharp', cursive;
}

input {
    padding: 15px;
    font-size: 18px;
    position: absolute;
    width: 83%;
    left: 12px;
    bottom: 12px;
    background: rgba(255, 255, 255, 0.336);
    color: rgba(0, 0, 0, 0.363);
    border: none;
    transition: background 2s;
}

input:hover {
    background: white;
}

#icon {
    position: absolute;
    bottom: 32px;
    right: 28px;
    z-index: 1;
}

.portraits {
    border-color: transparent;
    background: transparent;
    border-radius: 12px;
    transition: border 2s;
}

.portraits:hover {
    border: 1px solid black;
    background: rgba(112, 128, 144, 0.534);
    width: 210%;
    cursor: pointer;
}