body {
    background: url("assets/site/mapblue.jpg");
    min-height: 100vh;
    overflow: hidden;
}

#mainTable {
    float: left;
    width: 80%;
}

#infoAside {
    top: 15px;
    min-height: 79vh;
    position: relative;
    float: right;
    width: 350px;
    background: grey;
    font-family: 'MedievalSharp', cursive;
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 0 0 20px black;
}

#infoAside img {
    width: 96%;
    margin: 8px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0 0 10px black;
}

#infoAside #house {
    max-width: 30px;
    max-height: 30px;
    position: absolute;
    top: 330px;
    left: 280px;
    border: none;
    box-shadow: 0 0 0 transparent;
}

#infoAside h3 {
    font-size: 30px;
    position: relative;
    text-align: center;
}

#infoAside h4 {
    padding: 10px;
}

#infoAside p {
    padding: 10px;
}

input {
    padding: 15px;
    font-size: 18px;
    position: absolute;
    width: 83%;
    left: 12px;
    bottom: 12px;
    background: rgba(255, 255, 255, 0.336);
    color: rgba(0, 0, 0, 0.363);
    border: none;
    transition: background 2s;
}

input:hover {
    background: white;
}

#icon {
    position: absolute;
    bottom: 32px;
    right: 28px;
    z-index: 1;
}

#firstRow p {
    opacity: 0;
    display: inline-block;
    position: absolute;
    top: 110px;
}

#firstRow img {
    margin: 15px 45px;
    float: left;
    opacity: .7;
    box-shadow: 0 0 0 black;
    border-radius: 50px;
    transition: opacity, border, box-shadow 1s;
}

#firstRow img:hover {
    opacity: 1;
    box-shadow: 0 0 30px black;
    cursor: pointer;
}